.div1 {
  color: cadetblue;
  background-color: brown;
  padding: 2rem;
  margin: 2rem;
}

.div2 {
  display: none;
  color: cadetblue;
  background-color: brown;
  padding: 2rem;
  margin: 2rem;
}

.div3 {
  color: cadetblue;
  background-color: brown;
  padding: 2rem;
  margin: 2rem;
}

.div4 {
  color: cadetblue;
  background-color: brown;
  padding: 2rem;
  margin: 2rem;
}

.div5 {
  color: cadetblue;
  background-color: brown;
  padding: 2rem;
  margin: 2rem;
}

.div6 {
  display: none;
  color: cadetblue;
  background-color: brown;
  padding: 2rem;
  margin: 2rem;
}

.div7 {
  color: cadetblue;
  background-color: brown;
  padding: 2rem;
  margin: 2rem;
}

.div8 {
  color: cadetblue;
  background-color: brown;
  padding: 2rem;
  margin: 2rem;
}

.div9 {
  color: cadetblue;
  background-color: brown;
  padding: 2rem;
  margin: 2rem;
}

.div10 {
  color: cadetblue;
  background-color: brown;
  padding: 2rem;
  margin: 2rem;
}

.div11 {
  color: cadetblue;
  background-color: brown;
  padding: 2rem;
  margin: 2rem;
}

.div12 {
  color: cadetblue;
  background-color: brown;
  padding: 2rem;
  margin: 2rem;
}

.div13 {
  color: cadetblue;
  background-color: brown;
  padding: 2rem;
  margin: 2rem;
  height: 400px;
}
